@charset "UTF-8";

html {
    height: 100%;
}

body {
    font-family: 'Lato';
    position: relative;
    height: 100%;
    text-align: center;
    margin: auto;
    max-width: 500px;
}

.header {
    margin-top: 30px;
}

h2 {
    font-size: 1.3em;
}

img {
    width: 200px;
    margin: 10px;
}


a {
    color: #22BCB9;
}

a:visited {
    color: #31373A;
}

.sub {
    margin: 0px;
    color: grey;
}

.sub span {
    background-color: yellow;
}
